.content {
  position: relative;
  margin: 0 10px;
}

.slider {
  //position: relative;
  //overflow: hidden;
  //list-style: none;
  //margin: 0;
  //z-index: 1;
  //box-shadow: 0 .25rem 2.75rem rgba(0, 0, 0, .25);
}

.list {
  //position: relative;
  //width: 100%;
  //height: auto;
  //transition-property: transform;
  //display: flex;
}

.item {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: auto;
  transition-property: transform;
}

.preview {

}

.picture {

}

.link {
  display: block;
  position: relative;
  padding-bottom: 56.25%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 2;
    opacity: 0;
    transition: opacity .3s ease 0ms;
  }

  img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
}



.control {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
}

.navigation {
  width: 16.6666666667%;
  position: absolute;
  top: 0;
  right: 40px;
}

.prev,
.next {
  display: block;
  height: 10px;
  width: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  top: -5px;
  outline: 0;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 32px;
    width: 48px;
    z-index: 2;
  }
}

.prev {
  transform-origin: center;
  transform: rotate(-45deg);
  left: 0;
  &:after {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.next {
  transform-origin: center;
  transform: rotate(135deg);
  right: 0;
  &:after {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(-135deg);
  }
}

.pagination {
  width: 16.6666666667%;
  margin: auto 40px auto auto;
}

.fraction {
  font: 1em / 2 VestiSans-Regular, serif;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(40px, -50%);
}

.progress {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  margin: auto 0;
  justify-content: stretch;
}

.thumb {
  display: block;
  height: 2px;
  flex: 0 1 100%;
  background: #fff;
  margin: auto 0;
}

.thumbPassed {
  background: transparent;
}