.divider {
  background: #fff;
  display: block;
  height: 3px;
  width: calc(58.33333% - 20px);
  position: relative;
}

.dividerFull {
  background: #fff;
  display: block;
  height: 3px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  box-sizing: border-box;
}