.header {
 font-size: 12.5px;
 font-family: VestiSans-Regular, sans-serif;

}

.wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-sizing: border-box;
 max-width: 1300px;
 margin: 0 auto;
 padding: 0 10px;
}

.languageSwitcher {
 display: flex;
 gap: 10px;
 box-sizing: border-box;
 margin: auto 0;
 padding: 0 10px;
 width: 16.6666666667%;
}

.navigation {
 box-sizing: border-box;
 margin: auto 0;
 padding: 0 10px;
 width: 33.3333333333%;
}

.buttonBurger {
 color: #fff;
 background: transparent url("/images/icons/icon-burger-white.svg") 0 no-repeat;
 background-size: auto 100%;
 font: .625rem / 1rem VestiSans-Regular, sans-serif;
 padding: 0 0 0 1.5rem;

}

.languageSwitcher li {
 position: relative;
}

.languageSwitcher li::after {
 content: "/";
 width: 10px;
 padding: 0 0 0 10px;
}

.languageSwitcher li:nth-of-type(2)::after {
 display: none;
}
