.header {
 font-size: 12.5px;
}

.wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.languageSwitcher {
 display: flex;
 gap: 10px;
}

.languageSwitcher li {
 position: relative;
}

.languageSwitcher li::after {
 content: "/";
 width: 10px;
 padding: 0 0 0 10px;
}

.languageSwitcher li:nth-of-type(2)::after {
 display: none;
}
